.detail-order .content-detail-order{
    display: flex;
    justify-content: space-between;
}

.detail-order .box-left{
    width: 70%;
}

.detail-order .box-right{
    width: 27%;
}
.detail-order .title-top{
    font-size: 20px;
    font-weight: 500;
}

.detail-order .box-left .title{
    font-size: 20px;
    font-weight: 500;
}

.detail-order .box-left .item{
    display: flex;
    align-items: center;
}

.detail-order .box-left .des{
    display: flex;
}

.detail-order .maker,.status,.color{
    margin-right: 1em;
}

.detail-order .box-price{
    display: flex;
}

.detail-order .box-left .equa{
    margin:0 2em;
}

.detail-order .multiplication{
    margin: 0 0.5em;
}

.detail-order .item img{
    width: 7em;
}

.detail-order .short-description{
    margin-left: 1em;
}

.detail-order .box-left{
    font-weight: 500;
}

.detail-order .box-left .des div{
    font-size: 0.8em;
    border: 1px solid #0f336089;
    padding: 0.2em 0.3em;
    border-radius: 5px;

}

.detail-order .box-left .box-price .price, .multiplication, .count, .equa{
    color: #7D879C;
}

.detail-order .box-left .box-price .total-price{
    color: #d0021c;
}

.detail-order .content-detail-order .box-right{
    font-size: 17px;
    /* margin-left: 4em; */
    box-shadow: 1px 2px 13px -3px rgba(59,89,152,1);
    -webkit-box-shadow: 1px 2px 13px -3px rgba(59,89,152,1);
    -moz-box-shadow: 1px 2px 13px -3px rgba(59,89,152,1);
    padding: 0.3em 0.5em;
    border-radius: 5px;
}



.detail-order .box-right .item{
    display: flex;
    font-weight: 500;
    justify-content: space-between;
}

.detail-order .box-right .title{
    width: 50%;
}

.detail-order .box-right .value{
    text-align: end;
    width: 50%;
    color: #d0021c;
}

.detail-order .line{
    margin:1em 0;
    width: 100%;
    height: 1px;
    background-color: #7D879C;
}

.detail-order .box-bottom{
    display: flex;
    justify-content: space-between;
}

.detail-order .box-bottom .address{
    width: 48%;
}

.detail-order .box-bottom .box-action{
    width: 48%;
}

.detail-order .box-bottom .address{
    padding: 0.5em 0.8em;
    border: 1px solid #7d879c81;
    border-radius: 5px;
}

.detail-order .box-bottom .address .item{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.detail-order .box-bottom .address .item .title{
    width: 30%;
}

.detail-order .box-bottom .address .item .value {
    width: 67%;
}

.detail-order .box-bottom .box-action{
    display: flex ;
    justify-content: space-around;
    
}

.detail-order .box-bottom .box-action button{
    height: 3em;
    width: 15em;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}

.detail-order .box-bottom .box-action .historyOrder{
    background-color: #3B5998;
}

.detail-order .box-bottom .box-action .historyOrder a{
    color: #ffffff !important;
    width: 100%;
}

.detail-order .box-bottom .box-action .cancelOrder{
    background-color: #d0021c;
}
